public net.minecraft.world.effect.MobEffect <init>(Lnet/minecraft/world/effect/MobEffectCategory;I)V

# Thirst transformers
public net.minecraft.world.item.Item getPlayerPOVHitResult(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/level/ClipContext$Fluid;)Lnet/minecraft/world/phys/BlockHitResult;
public net.minecraft.world.food.FoodData foodLevel
public net.minecraft.world.food.FoodData saturationLevel
public net.minecraft.world.food.FoodData exhaustionLevel
public net.minecraft.world.food.FoodData tickTimer

# Temperature transformers
public net.minecraft.client.gui.Gui extractTextureOverlay(Lnet/minecraft/client/gui/GuiGraphicsExtractor;Lnet/minecraft/resources/Identifier;F)V

# DamageSources
public net.minecraft.world.damagesource.DamageSources source(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/damagesource/DamageSource;

# Gui
public net.minecraft.client.gui.Gui$HeartType

# Villages
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool rawTemplates
public net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool templates
public net.minecraft.world.entity.ai.village.poi.PoiTypes registerBlockStates(Lnet/minecraft/core/Holder;Ljava/util/Set;)V

public net.minecraft.world.level.block.entity.BlockEntityType <init>(Lnet/minecraft/world/level/block/entity/BlockEntityType$BlockEntitySupplier;Ljava/util/Set;)V

public-f net.minecraft.world.item.crafting.RecipeManager RECIPE_PROPERTY_SETS
